{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Bienvenue sur vélo inc - vente de tout pour le vélo !</h1>

</div>
{% endblock %}
