{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}


{% block body %}


    <div class="container">

        <h1 class="text-center m-4">Nos produits</h1>
        {% if app.session.flashBag.get('success') %}
            <div class="alert alert-success">Article ajouté au panier</div>
        {%  endif %}
        <div class="row">

    {% for article in articles %}

    <div class="card col-md-3 m-4">
        {% if article.image is not null %}
        <img src="{{ article.image }}" class="card-img-top" alt="image">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ article.code }}</h5>
            <p class="card-text">{{ article.description }}</p>
            <a href="{{ path('app_order', { 'id': article.id }) }}" class="btn btn-primary">Commander</a>
        </div>
    </div>

    {%  endfor %}

    </div>
    </div>

{% endblock %}
